@import url("https://fonts.googleapis.com/css2?family=Karma&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Karma", serif;
}

#header {
  position: absolute;
  display: flex;
  width: 500px;
  padding-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: space-between;
  align-items: center;
}

.orange {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-title {
  font-size: 7vh;
  font-weight: 100;
}

#main .orange {
  font-size: 4vh;
}
